.play, .clipper {
  width: 300px;
  height: 300px;
}

.clipper {
  background: white;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 30px;
}

/* awesome color palette taken from http://www.colourlovers.com/palette/3465025/Simon_Says */

.play#green {
  background: #7bbf8a;
  -webkit-clip-path: circle(100% at 100% 100%);
          clip-path: circle(100% at 100% 100%);
}

#green .clipper {
  -webkit-clip-path: circle(50% at 100% 100%);
          clip-path: circle(50% at 100% 100%);
}

.play#red {
  background: #bf5757;
  -webkit-clip-path: circle(100% at 0 100%);
          clip-path: circle(100% at 0 100%);
}

#red .clipper {
  -webkit-clip-path: circle(50% at 0 100%);
          clip-path: circle(50% at 0 100%);
}

.play#blue {
  background: #56697b;
  -webkit-clip-path: circle(100% at 0 0);
          clip-path: circle(100% at 0 0);
}

#blue .clipper {
  -webkit-clip-path: circle(50% at 0 0);
          clip-path: circle(50% at 0 0);
}

.play#yellow {
  background: #D2B55B; /* I didn't follow the palette on yellow because the orignal yellow was too bright */
  -webkit-clip-path: circle(100% at 100% 0);
          clip-path: circle(100% at 100% 0);
}

#yellow .clipper {
  -webkit-clip-path: circle(50% at 100% 0);
          clip-path: circle(50% at 100% 0);
}

.play#yellow, .play#green {
  margin-right: 30px;
}

.active#red {
  background: #e23434;
}

.active#green {
  background: #58e277;
}

.active#blue {
  background: #2b6aa6;
}

.active#yellow {
  background: #f0f086;
}

#indicators {
  text-align: center;
}

.indicator {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.blink-r {
  -webkit-animation-name: blinkr;
  -webkit-animation-duration: 0.7s;
          animation-name: blinkr;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

.blink-b {
  -webkit-animation-name: blinkb;
  -webkit-animation-duration: 0.7s;
          animation-name: blinkb;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

.blink-g {
  -webkit-animation-name: blinkg;
  -webkit-animation-duration: 0.7s;
          animation-name: blinkg;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

.blink-y {
  -webkit-animation-name: blinky;
  -webkit-animation-duration: 0.7s;
          animation-name: blinky;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

@keyframes blinkr {
  0% {
    background: #bf5757;
  }

  100% {
    background: #e23434;
  }
}

@keyframes blinkb {
  0% {
    background: #45698c;
  }

  100% {
    background: #2b6aa6;
  }
}

@keyframes blinkg {
  0% {
    background: #7bbf8a;
  }

  100% {
    background: #58e277;
  }
}

@keyframes blinky {
  0% {
    background: #e0e096;
  }

  100% {
    background: #f0f086;
  }
}
