body {
  background: #fdf6e3;
  color: #657b83;
  font-family: Arial, Helvetica, sans-serif
}

.app {
  position: relative;
  max-width: 630px;
  margin: 50px auto;
}

.header-text {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0;
}

.play {
  width: 300px;
  height: 300px;
}

.clipper {
  background: white;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 30px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fdf6e3;  
  /* position and size */
  width: 315px;
  height: 315px;
  position: absolute;
  /* for vertical and horizontal centering */
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;

  border-radius: 100%;
}

.start {
  margin-right: 30px;
}

.current-level {
  margin-right: 30px;
}

/* awesome color palette taken from http://www.colourlovers.com/palette/3465025/Simon_Says */

.play#green {
  background: #7bbf8a;
  border-top-left-radius: 100%;
}

.play#red {
  background: #bf5757;
  border-top-right-radius: 100%;
}

.play#blue {
  background:#4C516D;
  border-bottom-right-radius: 100%;
}

.play#yellow {
  background: #D2B55B; /* I didn't follow the palette on yellow because the orignal yellow was too bright */
  border-bottom-left-radius: 100%;
}

.play#yellow, .play#green {
  margin-right: 30px;
}

.active#red {
  background: #e23434;
}

.active#green {
  background: #58e277;
}

.active#blue {
  background: #2b6aa6;
}

.active#yellow {
  background: #f0f086;
}

#indicators {
  text-align: center;
}

.indicator {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.blink-r {
  -webkit-animation-name: blinkr;
  -webkit-animation-duration: 0.7s;
          animation-name: blinkr;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

.blink-b {
  -webkit-animation-name: blinkb;
  -webkit-animation-duration: 0.7s;
          animation-name: blinkb;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

.blink-g {
  -webkit-animation-name: blinkg;
  -webkit-animation-duration: 0.7s;
          animation-name: blinkg;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

.blink-y {
  -webkit-animation-name: blinky;
  -webkit-animation-duration: 0.7s;
          animation-name: blinky;
          animation-timing-function: step-start;
          animation-duration: 0.7s;
}

@keyframes blinkr {
  0% {
    background: #bf5757;
  }

  100% {
    background: #e23434;
  }
}

@keyframes blinkb {
  0% {
    background: #45698c;
  }

  100% {
    background: #2b6aa6;
  }
}

@keyframes blinkg {
  0% {
    background: #7bbf8a;
  }

  100% {
    background: #58e277;
  }
}

@keyframes blinky {
  0% {
    background: #e0e096;
  }

  100% {
    background: #f0f086;
  }
}
